githubConfigSecret: ${githubConfigSecret}
githubConfigUrl: ${githubConfigUrl}
template:
  spec:
    containers:
      - name: "runner"
        image: ${windows_arc_runner_image}
    nodeSelector:
      kubernetes.io/os: "windows"
    imagePullSecrets:
      - name: ${windows_arc_runner_image_pull_secret}
      
listenerTemplate:
  spec:
    containers:
      - name: listener
    initContainers:
      - name: init-sleep
        image: busybox
        command: ["sh", "-c", "sleep 45"]